html{
    margin:0;
    padding: 0;
}

body {
    background-image: url(backgroundss.gif);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    /* margin-left: 390px;
    margin-top: 135px;*/
    width: fit-content;
    text-align: center;
    
}





.btn-home {
    width: 300px;
    font-size: 50px;
    color: rgb(124, 178, 232);
    padding: 15px 25px;
    cursor: pointer;
    background-color: black;
    transition: 0.2s;
    border-radius: 10px;
    text-align: center;
    font-family: Novafont;
    margin: 10px auto;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
    margin-bottom: 30px;
}

.btn-home:hover{        
    transform: scale(1.1);
    background-color: white;         
}

@font-face {
    font-family: Novafont;
    src:url(ChubbyChoo-Regular.ttf);
}

.imagemsobreposicao {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}