body {
    background-image: url(../backgroundss.gif);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.caixa{
    height: 55px;
    width: 250px;
    background-color:black;
    color: white;
    font-family: Novafont;
    padding-left: 10px;
    font-size: 20px;
    border-color: black;
    border-radius: 10px;
    border: none;
    
}
@font-face {
    font-family: Novafont;
    src:url(../ChubbyChoo-Regular.ttf);
}